body {
    background-color: #f0f0f0;
    min-width: 325px;
}

header {
    margin-top: 15px;
}

img {
    vertical-align: middle;
    margin-right: 5px;
}

h1 {
    font-size: 25px;
    font-weight: 500;
    background-image: linear-gradient(to left, #980000, #ee1515);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    vertical-align: middle;
}

input[type="text"] {
    width: 175px;
}

#startSessionBtn {
    margin-top: 8px;
}

#startSessionBtn:hover {
    background-color: red;
}

.sourcesMenu {
    font-size: 11px;
    display: inline-block;
    margin-left: 40px;
    direction: rtl;
}
